/* header */
* {
  font-family: 'Montserrat';
}

.container {
  width: 80%;
  margin: 5px auto;
}

.content-img {
  width: 100%;
  height: 60%;
}

.content-text {
  text-align: justify;
}

.react-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
  /* Like/dislike buutons- icons */
  .green{
    color: #03DAC6;
  }
  
  .red{
    color: #FF0266;
  }
  #num-likes {
    padding-left: 10px;
  }
  #num-dislikes {
    padding-left: 10px;
  }
  #num-shares {
    padding-left: 10px;
  }
  .btn{
    background-color:white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
  }
  /* comments */
  form {
    border: 1px solid black;
    margin: 20px 0;
  }
  .delete-comment-btn {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
  }
  .delete-comment-btn:hover {
    background-color: #FF0266;
    }

/* breadcrumbs style */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

ul.breadcrumb li a {
  color: #FF0266;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #03DAC6;
  text-decoration: none;
}
